<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <% include ./_includes/header %> 
    <!-- Place anything custom after this. -->
  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    <% include ./_includes/nav-main %> 

    <!-- Page content of course! -->
    <!-- {{ content }} -->
<div class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Bootstrap 3</h1>
    <p class="lead">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
    <p>
      <a href="{{ site.download }}" class="btn btn-outline btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.0 RC1']);">Download latest BS3</a>
    </p>
    <p><strong>Heads up!</strong> Downloads are pulled directly from the latest commited code on GitHub, and as a result our docs may at times be out of sync.</p>
  </div>
</div>

    <!-- Callout for the old docs link -->
    <% include ./_includes/old-bs-docs %> 

    <div class="container" role="contentinfo">
      <% include ./_includes/social-buttons %> 

      <ul class="bs-masthead-links">
        <li>
          <a href="{{ site.repo }}" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">GitHub project</a>
        </li>
        <li>
          <a href="{{ site.examples }}" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);">Examples</a>
        </li>
        <li>
          <a href="{{ site.glyphicons }}" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Glyphicons']);">Glyphicons</a>
        </li>
        <li>
          <a href="{{ site.expo }}" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Expo']);">Bootstrap Expo</a>
        </li>
      </ul>
    </div>

    <!-- JS and analytics only. -->
    <% include ./_includes/footer %> 

  </body>
</html>
